<h>Список событий</h>
<a href="/admin/log/new" class="admin_button">Добавить</a>
<div data-role="navigator" data-module="events">
{{ paginator | raw }}
{% for event in rows %}
  <div>
    {{ event.id }}
    {{ event.title }}
    <a href="/admin/events/change/{{ event.id }}" class="admin_button">Редактировать</a>
    <span class="admin_button" data-id="{{ event.id }}" data-type="crad_delete">Удалить</span>
    <br>
  </div>
{% endfor %}
{{ paginator | raw }}
</div>