  <br><hr>
{% if tomorrows %}
{% for tomorrow in tomorrows %}
    <div class="event_list_time inline center">
        {{ time(tomorrow.time,'H:i') }}
        {{ translate(time(tomorrow.date,'M')) | raw }}
        {{ time(tomorrow.date,'d') }}
    </div>
    <div class="mt05"><b>{{ tomorrow.title }}</b></div>
{% if tomorrow.text %}
    <div class="mt05">{{ tomorrow.text | raw }}</div>
{% endif %}
{% if tomorrow.look %}
      <div class="mt05"><div hidden>{{ tomorrow.look | raw }}</div><span class="events_open" onclick="if(system.toggleAttr)system.toggleAttr(this.previousElementSibling,'hidden');">{{ translate('events_hide_show') }}</span></div>
{% endif %}
{% if user('role') == 'admin' %}
<div class="blog_info">
  <a href="/admin/events/change/{{ tomorrow.id }}" class="admin_button">{{ translate('crud_change') }}</a>
</div>
{% endif %}
  <br><hr>
{% endfor %}
{% else %}
<br><span>{{ translate('events_no_one') }}</span><br>
  <br><hr><br>
{% endif %}