<h>Список событий</h>
<a href="/admin/events/new" class="admin_button">{{ translate('crud_new') }}</a>
<div data-role="navigator" data-module="events">
{{ paginator | raw }}
{% for event in rows %}
  <div>
    {{ event.id }}
    {{ event.title }}
    <a href="/admin/events/change/{{ event.id }}" class="admin_button">{{ translate('crud_change') }}</a>
    <span class="admin_button" data-id="{{ event.id }}" data-type="crad_delete">{{ translate('crud_delete') }}</span>
    <br>
  </div>
{% endfor %}
{{ paginator | raw }}
</div>