      <img class="blog_image" src="{{ post.image }}">
      <b>{{ post.title }}</b><br>
      <span>{{ post.preview | raw }}</span>
{% if post.text %}
      <span hidden><br>{{ post.text | raw }}</span> <span class="blog_open" onclick="this.previousElementSibling.toggleAttribute('hidden');"><br>Показать/Скрыть</span>
{% endif %}
      <br><span class="right"><span class="blog_posted">Опубликовано: {{ post.pubdate }}</span>{% if post.author %}<span class="blog_author"> Автор: <span class="blog_tag" data-type="blog_tag" data-name="author">{{ post.author }}</span></span>{% endif %}</span>
{% if post.tags %}
      <br><span class="right blog_tags_block">Теги: 
{% for tag in post.tags %}
        <span data-type="blog_tag" class="blog_tag" data-name="tag">{{ tag }}</span>
{% endfor %}
      </span>
{% endif %}
      <div style="clear:both;"></div>