<div style="margin-top:5px;">
  {% if page > 1 %}
    <button data-type="blog_page" data-page="1">Первая</button>
    <button data-type="blog_page" data-page="{{ page - 1 }}">Пред.</button>
  {% endif %}
    <input type="number" min="1" max="{{ pages }}" value="{{ page }}" onchange="if(+this.value < +this.min){this.value = this.min;} if(+this.value >= +this.max){console.log(this.value + ' - ' + this.max);console.log(this.value > this.max);this.value = this.max} this.nextElementSibling.dataset['page'] = this.value;">
    <button data-type="blog_page" data-page="{{ page }}">Перейти</button>
  {% if page < pages %}
    <button data-type="blog_page" data-page="{{ page + 1 }}">След.</button>
    <button data-type="blog_page" data-page="{{ pages }}">Последняя ({{ pages }})</button>
  {% endif %}
</div>