<div data-role="navigator" id="blog-view">
    <h>{{ translate('blog_main_title') }}</h>
      <div class="blog_search">
{% if user('role') == 'admin' %}
      <span class="right">
        <a href="admin/blog/list/" class="admin_button">{{ translate('crud_all') }}</a>
        <a href="admin/blog/new/" class="admin_button">{{ translate('crud_new') }}</a>
      </span>
{% endif %}
          <input type="text" name="search" value="{% if blog_search.search %}{{ blog_search.search }}{% endif %}" placeholder="{{ translate('blog_search_placeholder') }}">
          <select name="row" id="blog_search_row">
{% for option in options %}
            <option value="{{ option }}"{% if option == blog_search.row %} selected{% endif %}>{{ translate('blog_search_' ~ option) }}</option>
{% endfor %}
          </select>
          <button data-type="blog_search">{{ translate('blog_search_go') }}</button>
      </div>
      <br><hr><br>
      <span class="right">
{% if tag %}
        <span class="blog_tag" data-type="blog_home">{{ tag }}</span>
{% endif %}
        <span class="blog_tag" data-type="blog_history" data-method="back">{{ translate('blog_history_prev') }}</span>
        <span class="blog_tag" data-type="blog_history" data-method="forward">{{ translate('blog_history_next') }}</span>
      </span>
      {{ paginator|raw }}
      <br><hr><br>
    {% for post in posts %}
{% include 'blog_row.twig' %}
      <br><hr><br>
    {% endfor %}
      {{ paginator|raw }}
</div>