   <div class="blog_post" data-id="{{ post.id }}"{% if post.after %} blogAfter{% elseif not post.is_opened %} blogClosed{% endif %}>
       <h3>{{ post.title }}</h3>
       <div class="mt05">{{ post.preview | raw }}</div>
{% if post.text %}
      <div class="mt05"><div hidden>{{ post.text | raw }}</div><span class="blog_open" onclick="if(system.toggleAttr)system.toggleAttr(this.previousElementSibling,'hidden');">{{ translate('blog_hide_show') }}</span></div>
{% endif %}
{% if post.files %}{% if setting('radio_enabled') %}
      <br>
{% for file in post.files %}
      &#9835; <span data-type="core_sound_load" data-source="{{ file }}" class="blog_tag">{{ sound_name(file) }}</span><br>
{% endfor %}
{% endif %}{% endif %}
      <div class="blog_info">
        <span class="blog_posted">{% if post.after %}{{ translate('blog_will_post') }}{% else %}{{ translate('blog_now_post') }}{% endif %}: {{ post.pubdate }}</span>
{% if post.author %}
        <span class="blog_author"> {{ translate('blog_post_author') }}: 
          <span class="blog_tag" data-type="blog_tag" data-name="author">{{ post.author }}</span>
        </span>
{% endif %}
{% if post.tags %}
        <br>
        <span class="blog_tags_block">{{ translate('blog_post_tags') }}: 
{% for tag in post.tags %}
          <span data-type="blog_tag" class="blog_tag" data-name="tag">{{ tag }}</span>
{% endfor %}
        </span>
{% endif %}
{% if user('role') == 'admin' %}
      <br><span class="admin_button" data-type="blog_open">{% if post.is_opened %}Скрыть{% else %}Показать{% endif %}</span> <a href="/admin/blog/change/{{ post.id }}" class="admin_button">{{ translate('crud_change') }}</a>
{% endif %}
      </div>
    </div>