<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ title }}{% endblock %}</title>
        <link rel="shortcut icon" href="/favico.png" sizes="32x32" type="image/png" />
{% for style in css %}
        <link href="{{ pathInfo }}{{ style }}" rel="stylesheet">
{% endfor %}
    </head>
    <body>
      <script>
        var mainPath = "{{ pathInfo }}";
{% for jsVar in jsVars %}
        var {{ jsVar.name }} = "{{ jsVar.value | raw }}";
{% endfor %}
      </script>
        <div id="container">

<div id="body">
{% block body %}
{{ body|raw }}
{% endblock %}
</div>

<footer>
{% block footer %}
  Разработка сайта: Власов Сергей (BuglerV)
{% endblock %}
</footer>
        </div>
{% for script in js %}
        <script src="{{ pathInfo }}{{ script }}"></script>
{% endfor %}
    </body>
</html>