<div class="h100">
<div id="radio_main" class="window">
    <div class="radio_info">{{ setting('djName') }}</div>
    <audio id="player" src="{{ setting('radio_source') }}"></audio>
  <div class="center">
	<button onclick="system.player.play()">{{ translate('radio_play','radio') }}</button>
	<button onclick="system.player.pause()">{{ translate('radio_pause','radio') }}</button>
	<button onclick="system.player.down()">{{ translate('radio_minus','radio') }}</button>
	<button onclick="system.player.up()">{{ translate('radio_plus','radio') }}</button>
	<button onclick="system.player.radio()" disabled id="player_radio">{{ translate('radio_radio','radio') }}</button>
  </div>
    
    <div class="marquee"><span id="radio_rawdata" class="radio_info">{{ translate('radio_loading','radio') }}</span></div>
    <div id="durationTrack"><div id="prevDuration"></div><div id="trackCount">0:00</div></div>
{% if user('role') == 'admin' %}
    <div class="right">Слушателей: <span id="radio_listeners">0</span></div>
{% endif %}
    <!-- <button id="radio_menu_open">menu</button> -->
    <!-- <div class="window" id="radio_menu" hidden onclick="system.player.menu()">sdsdfsdfsd -->
    <!-- dfsdfsfsfsdfs</div> -->
</div>
</div>

<style>
#radio_main{
  margin:0px;
  top:0px;
  height:100px;
  left:0px;
  padding:5px;
  width: 250px;
  <!-- width:calc(250px - 0.5em); -->
  height:100px;
  z-index:1000;
  background-color: black;
  color: white;
  position: relative;
}
#radio_menu{
  position: absolute;
  top: 0px;
  left: 255px;
  padding: 5px;
  background-color: #3D4758;
}
#radio_menu_open{
  position: absolute;
  bottom: -0.7em;
  right: -0.7em;
}

.h100{
    height:100px;
}

.marquee {
 width: 100%;
 margin: 0 auto;
 white-space: nowrap;
 overflow: hidden;
 position:relative;
 height:1.1em;
}

#durationTrack{
    background-color:white;
    width:95%;
    margin:auto;
    height:1.2em;
    position:relative;
    border:1px solid black;
}

#trackCount{
    width:100%;
    position:absolute;
    left:0;
    top:0;
    text-align:center;
    color:black;
}

#prevDuration{
    background-color:#ccc;
    height:100%;
    width:0;
}

.marquee span {
 display: inline-block;
 position:absolute;
 animation: marquee 15s linear infinite;
}

<!-- .marquee span:hover { -->
 <!-- animation-play-state: paused -->
<!-- } -->

@keyframes marquee {
 0%   {
     left:100%;
 }
 100% {
     left:-150%;
 }
}
</style>

<script>
var system = system || {};
system.player = {
    source: '{{ setting('radio_source') }}',
    start: document.getElementById('player_radio'),
    volume: 4,
    phone: document.getElementById('player'),
    radioInterval: 0,
    durationInterval: 0,
    lastSong: '',
    track: document.getElementById('durationTrack'),
    prevTrack: document.getElementById('prevDuration'),
    trackCount: document.getElementById('trackCount'),
    play: function(){
        system.player.phone.volume = system.player.volume / 10;
        system.player.phone.play();
    },
    pause: function(){
        system.player.phone.pause();
    },
    down: function(){
        if(system.player.volume > 0){
            system.player.volume--;
            system.player.phone.volume = system.player.volume / 10;
        }
    },
    up: function(){
        if(system.player.volume < 10){
            system.player.volume++;
            system.player.phone.volume = system.player.volume / 10;
        };
    },
    radio: function(){
        system.player.set(system.player.source);
    },
    trackUpdate: function(){
        system.player.prevTrack.style.width = (100 * system.player.phone.currentTime / system.player.phone.duration) + '%';
        var date = new Date(0);
        date.setSeconds(system.player.phone.currentTime);
        
        var seconds = date.getSeconds();
        if(seconds < 10) seconds = '0' + seconds;
        
        var minutes = date.getMinutes();
        var hours = '';
        
        if(system.player.phone.duration > 3600){
            hours = ( date.getHours() - 3 ) + ':';
            if(minutes < 10) minutes = '0' + minutes;
        }

        system.player.trackCount.innerText = hours + minutes + ':' + seconds;
    },
    set: function(source){
        system.player.phone.src = source;
        if(source == system.player.source){
            system.player.start.disabled = 1;
            system.player.start_load();
            system.player.track.disabled = 1;
            system.player.track.onclick = null;
            clearInterval(system.player.durationInterval);
            
            system.player.trackCount.innerText = '0:00';
            system.player.prevTrack.style.width = '0%';
        }
        else{
            system.player.start.disabled = 0;
            system.player.stop_load();
            system.player.lastSong = '';
            system.player.track.disabled = 0;
            system.player.track.max = system.player.phone.duration;
            system.player.track.value = system.player.phone.currentTime;
            system.player.track.onclick = function(e){
                system.player.phone.currentTime = system.player.phone.duration / (system.player.track.offsetWidth / e.offsetX);
                system.player.trackUpdate();
            };
            system.player.durationInterval = setInterval(system.player.trackUpdate,1000);
        }
        system.player.phone.play();
    },
    load_info: function(){
        jQuery.ajax({
          type: 'GET',
          url: '/info_read.php',
          dataType: 'json'
      }).done(function(data){
          if(data['type'] == 'error')
              return;
          data = data['data'][0];
          
{% if user('role') == 'admin' %}
          var listeners = data['listeners'];
          document.getElementById('radio_listeners').innerText = listeners;
{% endif %}
          
          if(system.player.lastSong == data['song'])
              return;
          
          system.player.lastSong = data['song'];
          document.getElementById('radio_rawdata').innerText = '♫ ' + data['rawmeta'];
      });
    },
    start_load: function(){
        system.player.load_info();
        system.player.radioInterval = setInterval(system.player.load_info,60000);
    },
    stop_load: function(){
        clearInterval(system.player.radioInterval);
    },
    
    menu_win: document.getElementById('radio_menu'),
    menu: function(){
        if(system.player.menu_win.hasAttribute('hidden'))
            system.player.menu_win.setAttribute('hidden');
        else
            system.player.menu_win.setAttribute('hidden',1);
    }
};

system.eventType_core_sound_load = function(target){
    document.getElementById('radio_rawdata').innerText = '♫ ' + target.innerText;
    system.player.set(target.dataset['source']);
}

system.player.fixed = 0;
system.player.leftCount = function(){
    var left = document.getElementById('main_logo').getBoundingClientRect().left;
    return Math.floor(left);
};

window.onscroll = function(event){
    if(window.scrollY > system.player.top && !system.player.fixed){
        document.getElementById('radio_main').style.position = 'fixed';
        document.getElementById('radio_main').style.top = '0px';
        document.getElementById('radio_main').style.left = system.player.left + 'px';
        system.player.fixed = 1;
    }
    else if(window.scrollY <= system.player.top && system.player.fixed){
        document.getElementById('radio_main').style.position = 'relative';
        document.getElementById('radio_main').style.left = '0px';
        system.player.fixed = 0;
    }
};

system.player.phone.volume = system.player.volume / 10;
</script>