<br><hr><br>
{% for module in modules %}
{% if module.enabled %}
<a href="/admin/?module={{ module.name }}&do=off" style="color:green;">{{ module.name }}</a>
{% else %}
<a href="/admin/?module={{ module.name }}&do=on" style="color:red;">{{ module.name }}</a>
{% endif %}
{% if module.settings %}
<a href="/admin/setting/{{ module.name }}" class="admin_button">{{ translate('admin_settings') }}</a>
{% endif %}
<br>

{% if module.windows %}
<span>Окна: </span>
{% for window in module.windows %}
{% if window.enabled %}
<a href="/admin/?module={{ module.name }}&window={{ window.name }}&do=off" style="color:green;">{{ window.name }}</a> 
{% else %}
<a href="/admin/?module={{ module.name }}&window={{ window.name }}&do=on" style="color:red;">{{ window.name }}</a> 
{% endif %}
{% endfor %}
<br>
{% endif %}

{% if module.crud %}
Контент: 
<a href="/admin/{{ module.name }}/new" class="admin_button">{{ translate('crud_new') }}</a>
<a href="/admin/{{ module.name }}/list" class="admin_button">{{ translate('crud_all') }}</a><br>
{% endif %}
{% if module.I18n %}
Перевод: 
{% for file in module.I18n %}
<a href="/admin/i18n/{{ module.name }}/{{ file.domain }}/{{ file.lang }}" class="admin_button">{{ file.domain }}.{{ file.lang }}</a>
{% endfor %}
<br>
{% endif %}
<br><hr><br>
{% endfor %}