<h>Список цитат</h>
<a href="/admin/quotes/new" class="admin_button">{{ translate('crud_new') }}</a>
<div data-role="navigator" data-module="quotes">
{{ paginator | raw }}
{% for quote in rows %}
  <div>
    {{ quote.id }}
    {{ quote.author }}
    {{ quote.quote | raw }}
    <a href="/admin/quotes/change/{{ quote.id }}" class="admin_button">{{ translate('crud_change') }}</a>
    <span class="admin_button" data-id="{{ quote.id }}" data-type="crad_delete">{{ translate('crud_delete') }}</span>
    <br>
  </div>
{% endfor %}
{{ paginator | raw }}
</div>