<div data-role="navigator" id="core_quote">
    <h>{{ translate('quotes_main_title') }}</h>
    <div class="quote_container">
      <div class="quote_body"><i>{{ quote.quote | raw }}</i><div class="quote_open">,,</div><div class="quote_close">,,</div></div>
{% if quote.author %}
      <span class="quote_author blog_tag" data-type="core_quote" data-name="{{ quote.author }}">{{ quote.author }} (c)</span>
{% endif %}
      <span class="blog_tag" data-type="core_quote">{{ translate('quotes_else') }}</span>
      <div class="clear"></div>
{% if user('role') == 'admin' %}
      <div class="right">
        <a href="/admin/quotes/list/" class="admin_button">{{ translate('crud_all') }}</a>
        <a href="/admin/quotes/new/" class="admin_button">{{ translate('crud_new') }}</a>
        <a href="/admin/quotes/change/{{ quote.id }}" class="admin_button">{{ translate('crud_change') }}</a>
      </div>
{% endif %}
    </div>
</div>